<%- include('partials/header') %>

<div class="container flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="text-center px-4 w-100">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 d-block">Celebration Cakes</h1>
      <p class="lead d-block">Specially crafted cakes for birthdays, weddings, and all memorable moments.</p>
    </div>
</div>
</section>


<section class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/cake-decorated-with-toy-camera-writing.jpg" class="card-img-top" alt="Toy Camera Cake" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Custom Birthday Cake</h5>
                    <p class="card-text">Personalized birthday cakes with custom flavors and designs.</p>
                     <a href="/order?product=Celebration Cake" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100">
                <img src="/wedding-cake-decorated-with-red-roses.jpg" class="card-img-top" alt="Wedding cake with red roses" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Wedding Cake</h5>
                    <p class="card-text">Elegant multi-tier wedding cake with premium decorations.</p>
                    <a href="/order?product=Celebration Cake" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100">
                <img src="/festive-pink-cake-with-bow-bear-top-background-balloons.jpg" class="card-img-top" alt="festive-pink-cake-with-bow-bear-top-background-balloons" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Baby Shower Cake</h5>
                    <p class="card-text">Adorable themed cakes for baby showers and gender reveals.</p>
                    <a href="/order?product=Celebration Cake" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer') %>