<%- include('partials/header') %>

<div class="container flex-grow-1 d-flex align-items-center justify-content-center">
  <div class="text-center px-4 w-100">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 d-block">Cupcakes</h1>
    <p class="lead d-block">Soft and fluffy cupcakes with rich flavors and creamy toppings. Perfect for any occasion.</p>
  </div>
</div>
</section>


<section class="container py-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/Chocolate-Cupcakes.jpg" class="card-img-top" alt="Chocolate Cupcake" style="height: 300px;">
        <div class="card-body text-center">
          <h5 class="card-title">Chocolate Cupcake</h5>
          <p class="card-text">Moist chocolate cupcake topped with smooth chocolate frosting.</p>
          <a href="/order?product=Cupcakes&flavor=Chocolate" class="btn btn-dark" style="color: white;">Order Now</a>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100">
        <img src="/vanilla-cupcake.jpg" class="card-img-top" alt="Vanilla Cupcake" style="height: 300px;">
        <div class="card-body text-center">
          <h5 class="card-title">Vanilla Cupcake</h5>
          <p class="card-text">Classic vanilla cupcake with a buttery, sweet flavor and creamy frosting.</p>
          <a href="/order?product=Cupcakes&flavor=Vanilla" class="btn btn-dark" style="color: white;">Order Now</a>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card h-100">
        <img src="/cupcakes-red-velvet.jpg" class="card-img-top" alt="Red Velvet Cupcake" style="height: 300px;">
        <div class="card-body text-center">
          <h5 class="card-title">Red Velvet Cupcake</h5>
          <p class="card-text">Rich red velvet cake with a hint of cocoa, topped with cream cheese frosting.</p>
          <a href="/order?product=Cupcakes&flavor=Red Velvet" class="btn btn-dark" style="color: white;">Order Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>