<%- include('partials/header') %>

<div class="container flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="text-center px-4 w-100">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 d-block">Desserts</h1>
      <p class="lead d-block">Indulge in our delicious handcrafted desserts, perfect for any occasion.</p>
    </div>
</div>
</section>


<section class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/lemon-meringue.jpg" class="card-img-top" alt="Lemon Meringue" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Lemon Meringue</h5>
                    <p class="card-text">Zesty lemon curd topped with fluffy, golden meringue on a crisp crust.</p>
                    <p class="fw-bold">R700</p>
                    <a href="/order?product=Desserts&dessert=Lemon Meringue" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="/peppermint-tart.jpg" class="card-img-top" alt="Peppermint Tart" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Peppermint Tart</h5>
                    <p class="card-text">Layers of creamy caramel and crushed biscuits, topped with peppermint chocolate.</p>
                    <p class="fw-bold">R700</p>
                    <a href="/order?product=Desserts&dessert=Peppermint Tart" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="/milk-tart.jpg" class="card-img-top" alt="Milk Tart" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Milk Tart</h5>
                    <p class="card-text">A creamy custard tart with a cinnamon-dusted topping on a buttery crust.</p>
                    <p class="fw-bold">R650</p>
                    <a href="/order?product=Desserts&dessert=Milk Tart" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


    <%- include('partials/footer') %>

