<%- include('partials/header') %>

<section class="container py-5" style="margin-top: 80px;">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Homemade Cakes</h1>
    <p class="lead text-center">Classic homemade cakes made with love, perfect for everyday indulgence.</p>
    
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 360px;">
        <div class="col">
            <div class="card h-100">
                <img src="/homemade-vanilla-cake.jpg" class="card-img-top" alt="[Product1 Name]" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Classic Vanilla Cake</h5>
                    <p class="card-text">Light and fluffy vanilla cake with a homemade buttery frosting.</p>
                    <a href="/order?product=Cake&flavor=Vanilla" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100">
                <img src="/chocolate-cake.jpg" class="card-img-top" alt="[Product2 Name]" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Chocolate Fudge Cake</h5>
                    <p class="card-text">Rich chocolate cake with a smooth chocolate ganache.</p>
                    <a href="/order?product=Cake&flavor=Chocolate" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100">
                <img src="/carrort-cake.jpg" class="card-img-top" alt="[Product3 Name]" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Carrot Cake</h5>
                    <p class="card-text">Moist carrot cake with walnuts and a hint of cinnamon, topped with cream cheese frosting.</p>
                    <a href="/order?product=Cake&flavor=Carrot" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer') %>