<%- include('partials/header') %>

<section class="container py-5" style="margin-top: 80px;">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Muffins</h1>
    <p class="lead text-center">Soft and flavorful muffins, perfect for breakfast or a tasty snack.</p>
    
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 360px;">
        <div class="col">
            <div class="card h-100">
                <img src="/high-angle-chocolate-muffins-cooling-rack-with-copy-space.jpg" class="card-img-top" alt="Chocolate Muffin" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Chocolate Muffin</h5>
                    <p class="card-text">Rich and moist chocolate muffin with a deep cocoa flavor.</p>
                    <a href="/order?product=Muffins&flavor=Chocolate" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100">
                <img src="/banana-muffin-cake.jpg" class="card-img-top" alt="Banana Muffin" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Banana Muffin</h5>
                    <p class="card-text">Classic banana muffin with a soft and buttery texture.</p>
                    <a href="/order?product=Muffins&flavor=Banana" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100">
                <img src="/healthy-blueberry-banana-muffins-wooden-table.jpg" class="card-img-top" alt="Blueberry Muffin" style="height: 300px;">
                <div class="card-body text-center">
                    <h5 class="card-title">Blueberry Muffin</h5>
                    <p class="card-text">Soft muffin packed with juicy blueberries for a delightful taste.</p>
                    <a href="/order?product=Muffins&flavor=Blueberry" class="btn btn-dark" style="color: white;">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</section>



<%- include('partials/footer') %>